/* 노말라이즈 */
body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

.title{
    font-family: 'Noto Serif Display', serif;
}

/* body::-webkit-scrollbar {
    display: none;
} */

/* 커스텀 */

/* Menu */
.top-bar{
    display: flex;
    position: fixed;
    margin: 42px 17px 320px 320px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: transparent;
}
.top-bar .top-menu{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 120px;
}

.top-bar .top-menu .logo .logo-img {
    background-image: url(./img/logo-w.png);
    width: 55.37px;
    height: 59.86px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.top-bar .top-menu .logo .logo-img:hover {
    background-image: url(./img/logo.png);
    width: 55.37px;
    height: 59.86px;
}

.top-bar .top-menu .menu{
   width: 500px;
   height: 60px;
   font-size: 18px;
   display: flex;
   position: relative;
}
.top-bar .top-menu .menu .menu-circle{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 0%;
    left: 46%;
    transition: left .3s, width .3s;
    

}

.top-bar .top-menu .menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}
.top-bar .top-menu .menu ul li{
    display: flex;
    padding: 0 57px;
    padding-right: 0;

}
.top-bar .top-menu .menu ul li a{
    position: relative;
    height: 32px;
    display: flex;
    align-items: flex-end;
}




/* .top-bar .top-menu .menu ul li:hover a::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 0%;
    left: 46%;
} */

/* Main */

.main{
    width: 1920px;
    height: 1080px;
}

.main .main-img{
    background-image: url(./img/main.jpg);
    width: 1920px;
    height: 1080px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.main .title-box{
    position: relative;
    font-size: 213px;
    width: 1110px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    top: 25%;
    right: 21px;
}
.main .title-box .title{
    position: absolute;
    word-spacing: 40px;
}

/* Branding */
.branding{
    width: 1920px;
    height: 1080px;
    background-color: #222;
}

.branding .branding-img{
    background-image: url(./img/3d-logo.png);
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position:center;
}

/* Branding-Concept */

.concept{
    width: 1920px;
    height: 1080px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}

.concept .concept-inner{
    width: 1280px;
    height: 430px;
    display: flex;
    margin: 0 auto;

} 

.concept .concept-inner .text-box{
    width: 643px;
    height: 303px;
    margin-top: 45px;
}
.concept .concept-inner .text-box .title{
    font-size: 55px;
}
.concept .concept-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}

.concept .concept-inner .concept-img{
    background-image: url(./img/3d-logo-s.png);
    width: 645px;
    height: 423px;
    background-repeat: no-repeat;
    margin-top: 14px;
    background-position: right;
}
/* Logo-Design */

.logo-design {
    width: 1920px;
    height: 1080px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.logo-design .logo-inner{
    width: 100%;
    height: 430px;
    display: flex;

} 

.logo-design .logo-inner .text-box{
    width: 100%;
    height: 303px;
    margin-top: 45px;
    margin-left: -500px;
    opacity: 0;
}
.logo-design .logo-inner .text-box .title{
    font-size: 55px;
}
.logo-design .logo-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}

.logo-design .logo-inner .logo-img{
    background-image:url(./img/calmsea1.png) ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 75px;
    margin-right: -870px;
    opacity: 0;

}



