/* 노말라이즈 */
body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #222;
}

a{
    color: inherit;
    text-decoration: none;
}

.title{
    font-family: 'Noto Serif Display', serif;
}

/* 커스텀 */

/* Menu */
.top-bar{
    display: flex;
    position: fixed;
    margin: 42px 17px 320px 320px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 1;
}
.top-bar .top-menu{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 120px;
}

.top-bar .top-menu .logo .logo-img {
    background-image: url(./img/logo-w.png);
    width: 55.37px;
    height: 59.86px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.top-bar .top-menu .logo .logo-img:hover {
    background-image: url(./img/logo.png);
    width: 55.37px;
    height: 59.86px;
}

.top-bar .top-menu .menu{
   font-size: 18px;
   display: flex;
   position: relative;
   bottom: 31px;
   left: 33px;
}
.top-bar .top-menu .menu .menu-circle{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 28%;
    left: 46%;
    transition: left .3s, width .3s;
    

}

.top-bar .top-menu .menu ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: transparent;

}
.top-bar .top-menu .menu ul li{
    display: flex;
    background-color: transparent;
}
.top-bar .top-menu .menu ul li a{
    position: relative;
    height: 32px;
    display: flex;
    align-items: flex-end;
    padding: 0 29px;
}


/* Main */

.main{
    width: 1920px;
    height: 1080px;
}

.main .main-img{
    background-image: url(./img/main.jpg);
    width: 1920px;
    height: 1080px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.main .title-box{
    position: relative;
    font-size: 213px;
    width: 1110px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    top: 25%;
    right: 21px;
}
.main .title-box .title{
    position: absolute;
    word-spacing: 40px;
    
}

/* Branding */
.branding{
    width: 1920px;
    height: 100%;
    background-color: #222;
    position: relative;
}

.branding .branding-img{
    background-image: url(./img/3d-logo.png);
    width: 1920px;
    height: 100%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 56px;
}

/* Branding-Concept */

.concept .concept-inner .text-box{
    left: -500px; 
    bottom: 36%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.concept .concept-inner .text-box.active{
    left: 320px;
    opacity: 1;
}
.concept .concept-inner .text-box .title{
    font-size: 55px;
}
.concept .concept-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}

.concept .concept-inner .concept-img{
    background-image: url(./img/3d-logo-s.png);
    width: 645px;
    height: 423px;
    background-repeat: no-repeat;
    right: -500px; 
    bottom: 277px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.concept .concept-inner .concept-img.active{
    right: 310px;
    opacity: 1;
}
/* Logo-Design */

.logo-design .logo-inner .text-box{
    left: -500px; 
    bottom: 33%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.logo-design .logo-inner .text-box.active{
    left: 320px;
    opacity: 1;
}
.logo-design .logo-inner .text-box .title{
    font-size: 55px;
}
.logo-design .logo-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}
.logo-design .logo-inner .slide-box {
    right: -500px; 
    bottom: 52%;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.logo-design .logo-inner .slide-box.active{
    right: 848px;
    opacity: 1;
}

.logo-design .logo-inner .slide-box .slider{
    position: relative;
}


.logo-design .logo-inner .slide-box .slider p{
    position: absolute;
}


/* Color,Typo */

.color-typo .color{
    position: relative;
    left: 320px;
    bottom: 165px;
    
}

.color-typo .color .color-text{
    position: relative;
    bottom: 50px;
}
.color-typo .color .color-text .title{
    position: absolute;
    font-size: 50px;
    bottom: 20px;
}

.color-typo .color .color-text .text{
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 450px;
    font-family: 'Noto Sans KR', sans-serif;
    

}


.color-typo .color .circle {
    font-size: 25px;
    text-align: center;
    font-weight: bold; 
}

.color-typo .color .circle .color-circle{
    position: absolute;
    width: 198px;
    height: 198px;
    border-radius: 50%;
    line-height: 198px;
    box-shadow: 10px 15px 11px 0 rgba(0,0,0, .7);
}

.color-typo .typo {
    position: relative;
    top: 117px;
    left: 320px;
}

.color-typo .typo .typo-text{
    position: relative;
}

.color-typo .typo .typo-text .title {
    font-size: 50px;
    position: absolute;
}

.color-typo .typo .typo-text .text {
    position: absolute;
    left: 450px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.color-typo .typo .font{
    position: relative;
    top: 150px;
}

.color-typo .typo .font .display{
    font-size: 30px;
    font-family: 'Noto Serif Display', serif;
    position: absolute;    
    left: 91px;
}

.color-typo .typo .font .roboto {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;   
    position: absolute;
    left: 596px;
}

.color-typo .typo .font .korean{
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif; 
    position: absolute;  
    left: 949px; 
}

.color-typo .typo .font-text {
    position: relative;
    top: 227px;
}

.color-typo .typo .font-text .display{
    font-size: 48px;
    font-family: 'Noto Serif Display', serif;
    position: absolute;    
    left: 165px;
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50 );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 1px  rgba(2,2,2, .5),5px 5px 11px  rgba(0,0,0, .7);
}

.color-typo .typo .font-text .roboto{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;   
    position: absolute;
    left: 541px;
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50 );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 1px  rgba(2,2,2, .5),5px 5px 11px  rgba(0,0,0, .7);
}

.color-typo .typo .font-text .korean{
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif; 
    position: absolute;  
    left: 953px;
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50 );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 1px  rgba(2,2,2, .5),5px 5px 11px  rgba(0,0,0, .7);
}