/* 노말라이즈 */
body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

.title{
    font-family: 'Noto Serif Display', serif;
}

/* 커스텀 */

/* Menu */
.top-bar{
    display: flex;
    position: fixed;
    margin: 42px 17px 320px 320px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 1;
}
.top-bar .top-menu{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 120px;
}

.top-bar .top-menu .logo .logo-img {
    background-image: url(./img/logo-w.png);
    width: 55.37px;
    height: 59.86px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.top-bar .top-menu .logo .logo-img:hover {
    background-image: url(./img/logo.png);
    width: 55.37px;
    height: 59.86px;
}

.top-bar .top-menu .menu{
   font-size: 18px;
   display: flex;
   position: relative;
   bottom: 31px;
   left: 33px;
}
.top-bar .top-menu .menu .menu-circle{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 28%;
    left: 46%;
    transition: left .3s, width .3s;
    

}

.top-bar .top-menu .menu ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;

}
.top-bar .top-menu .menu ul li{
    display: flex;
}
.top-bar .top-menu .menu ul li a{
    position: relative;
    height: 32px;
    display: flex;
    align-items: flex-end;
    padding: 0 29px;
}


/* Main */

.main{
    width: 1920px;
    height: 1080px;
}

.main .main-img{
    background-image: url(./img/main.jpg);
    width: 1920px;
    height: 1080px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.main .title-box{
    position: relative;
    font-size: 213px;
    width: 1110px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    top: 25%;
    right: 21px;
}
.main .title-box .title{
    position: absolute;
    word-spacing: 40px;
}

/* Branding */
.branding{
    width: 1920px;
    height: 100%;
    background-color: #222;
    position: relative;
}

.branding .branding-img{
    background-image: url(./img/3d-logo.png);
    width: 1920px;
    height: 100%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 56px;
}

/* Branding-Concept */

.concept{
    width: 1920px;
    height: 1080px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}



.concept .concept-inner .text-box{
    left: -500px; 
    bottom: 36%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.concept .concept-inner .text-box.active{
    left: 320px;
    opacity: 1;
}
.concept .concept-inner .text-box .title{
    font-size: 55px;
}
.concept .concept-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}

.concept .concept-inner .concept-img{
    background-image: url(./img/3d-logo-s.png);
    width: 645px;
    height: 423px;
    background-repeat: no-repeat;
    right: -500px; 
    bottom: 277px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.concept .concept-inner .concept-img.active{
    right: 268px;
    opacity: 1;
}
/* Logo-Design */

.logo-design {
    width: 1920px;
    height: 1080px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-design .logo-inner .text-box{
    left: -500px; 
    bottom: 33%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.logo-design .logo-inner .text-box.active{
    left: 320px;
    opacity: 1;
}
.logo-design .logo-inner .text-box .title{
    font-size: 55px;
}
.logo-design .logo-inner .text-box .text{
    font-size: 18px;
    margin-top: 60px;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
}
.logo-design .logo-inner .slide-box {
    right: -500px; 
    bottom: 52%;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}

.logo-design .logo-inner .slide-box.active{
    right: 848px;
    opacity: 1;
}

.logo-design .logo-inner .slide-box .slider{
    position: relative;
}


.logo-design .logo-inner .slide-box .slider p{
    position: absolute;
}




